table {
	border-collapse: collapse;
}

.message, .error {
	font-weight: bold;
	padding: 0.25em;
	margin-bottom: 1em;
}

.message {
	border: 3px solid #aa0;
	background-color: #ff7;
}

.error {
	border: 3px solid #f00;
	background-color: #f77;
}

td, th {
	padding-left: 0.25em;
	padding-right: 0.25em;

	border: 1px solid #000;
}

th {
	background-color: #ccc;
}

tr.evenRow {
	background-color: #eee;
}
